*{
    margin: 0;
    padding: 0;
    
    
}
body , html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
        background-image: url(picture/home-image.avif);
        background-size: cover;       
        background-position: center;   
        background-attachment: fixed; 
        margin: 0;                  
        padding: 0;    
  }

.pc{
    position: relative;
    top: 60px;
    left: 90px;
}

.pc-2{
    position: relative;
    top: 50px;
    left: 280px; 
}

.pc-3{
    position: relative;
    top: 50px;
    left: 520px;
}

.pc ,
.pc-2 ,
.pc-3   {
    display: inline-block;
    height: 450px;
    padding: 30px 20px;
    background-color: #000000e6;
    width: 15%;
    border-radius: 10px;
    box-shadow: 0 0 15px #00ffff66;

}

h2 {
    background-color: #00000000;
    color: #fff;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    padding: 25px 0;

}
.icon{
    bottom: 100px;
    position: absolute;
    left: 25px;
    align-items: center;
    display: flex;
}

.whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
     background: #25D366; 
     text-decoration: none;
     margin: 0 8px;
     height: 34px;
     width: 34px;
     border-radius: 50%;
     color: #fff;
     font-size: 18px;

}
.whatsapp:hover { 
    background: #4070f4; 
}

.instagram { 
    display: flex;
    align-items: center;
    justify-content: center;
     background: #e1306c; 
     text-decoration: none;
     margin: 0 8px;
     height: 34px;
     width: 34px;
     border-radius: 50%;
     color: #fff;
     font-size: 18px;

 }
.instagram:hover {
     background: #C13584;
     }

.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
     background: #4267b2; 
     text-decoration: none;
     margin: 0 8px;
     height: 34px;
     width: 34px;
     border-radius: 50%;
     color: #fff;
     font-size: 18px;
}

.facebook:hover {
    background: #166FE5;
}

.github{
    display: flex;
    align-items: center;
    justify-content: center;
     background: #1da1f2; 
     text-decoration: none;
     margin: 0 8px;
     height: 34px;
     width: 34px;
     border-radius: 50%;
     color: #fff;
     font-size: 18px;

}

.github:hover { 
    background: #000; 
}

button {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 15px 30px;  
    font-size: 18px;     
    background-color: #52a9ac;  
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 20px 20px #2525251a;  
  }
  
button:hover {
    transform: scale(1.05);  
  }

.Sign-Up{
    position: absolute;
    top: 10px;
    right: 150px;
    padding: 15px 30px;  
    font-size: 18px;     
    background-color: #52a9ac;  
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 20px 20px rgba(0,0,0,0.1); 
}
body p{
display: inline;
color: #52a9ac;
position: absolute;
top: 16px;
left: 30px;
font-size: 35px;
font-weight: 700;
width: 200px;
justify-content: center;
letter-spacing: 2.5px;
}

button a{
    color: #fff;
}

